<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/baseGestor}">
<head>
    <title>Afegir una zona</title>
    <meta charset="UTF-8" />

</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-2">
            <a type="button" class="btn btn-secondary" th:href="@{/espaiPublic/espaisPerMunicipi}"><i class="fa fa-arrow-alt-circle-left"></i> Atrás</a>
        </div>
    </div>
    <!--EL primer action es si fuera una página estática-->
    <form action="#" th:action="@{/zona/add}"
          th:object="${zona}" method="post"> <!--lo maneja dinámicamente thymeleaf-->
        <div class="card border-info mb-3" style="max-width: 50rem;">
            <div class="card-header">
                <h2 style="text-align: center">Afegir zona en l'espai <span th:text="${espai.nom}"></span></h2>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label class="col-form-label mt-4" for="idEspai">Id espai:</label>
                    <input type="number" class="form-control" placeholder="idEspai" id="idEspai" th:field="*{idEspai}" readonly/>

                </div>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="capacitat"><b>Capacitat:</b></label>
                    <input type="number" class="form-control" placeholder="capacitat" id="capacitat" th:field="*{capacitat}">
                    <div class="text-danger"><td th:if="${#fields.hasErrors('capacitat')}" th:errors="*{capacitat}"></td></div>

                </div>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="coordenades">Coordenades:</label>
                    <input type="text" class="form-control" placeholder="coordenades" id="coordenades" th:field="*{coordenades}">
                    <div class="text-danger"><td th:if="${#fields.hasErrors('coordenades')}" th:errors="*{coordenades}"></td></div>

                </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-success" type="submit" value="Afegir zona"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>