<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar les zones d'un espai natural</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Llista de Zones</h1>
<table class="table">
    <thead>
    <tr>
        <th>Id zona</th>
        <th>Id Espai</th>
        <th>Nom</th>
        <th>Capacitat</th>
        <th>Coordenades</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="zona: ${zones}">
        <td th:text="${zona.id}"></td>
        <td th:text="${zona.idEspai}"></td>
        <td th:text="${zona.nom}"></td>
        <td th:text="${zona.capacitat}"></td>
        <td th:text="${zona.coordenades}"></td>
        <td><a th:href="@{/zona/update/{id}(id=${zona.id})}"><button type="button" class="btn btn-danger">Edita</button></a>
        </td>
        <td><a th:href="@{/zona/delete/{id}(id=${zona.id})}"><button type="button" class="btn btn-danger">Esborra</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Afegeix zona</button></a>
</body>
</html>
