<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nou gestor municipal</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nou gestor</h2>
<form action="#" th:action="@{/gestorMunicipal/add}"
      th:object="${gestorMunicipal}" method="post">
    <table>
        <tr>
            <td><label>NIF</label></td>
            <td><input type="text" th:field="*{nif}" maxlength="9"/></td>
        </tr>
        <tr>
            <td><label>IdMunicipi</label></td>
            <td><input type="text" th:field="*{id_municipi}" /></td>
        </tr>
        <tr>
            <td><label>Nom</label></td>
            <td><input type="text" th:field="*{nom}" /></td>
        </tr>
        <tr>
            <td><label>Cognoms</label></td>
            <td><input type="text" th:field="*{cognoms}" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label>Telefon</label></td>
            <td><input type="text" th:field="*{telefon}" /></td>
        </tr>
        <tr>
            <td><label>Contrasenya</label></td>
            <td><input type="text" th:field="*{contrasenya}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Afegeix gestor municipal" /></td>
        </tr>
    </table>
</form>
</body>
</html>
