<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/baseGestor}">

<head>
    <meta charset="UTF-8">
    <title>SANA</title>

    <link rel="stylesheet" type="text/css" href="/css/estiloIndex.css"
          th:href="@{/css/estiloIndex.css}"/>
</head>
<body>
<div style="text-align: center" layout:fragment="content">
    <h1>Estem en el municipi: <span th:text="${nomMunicipi}"></span></h1>
</div>
</body>
</html>