<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar gestors municipals</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Llista de gestors</h1>
<table>
    <thead>
    <tr>
        <th>NIF</th>
        <th>IdMunicipi</th>
        <th>Nom</th>
        <th>Cognoms</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Contrasenya</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="gestorMunicipal: ${gestors}">
        <td th:text="${gestorMunicipal.nif}"></td>
        <td th:text="${gestorMunicipal.id_municipi}"></td>
        <td th:text="${gestorMunicipal.nom}"></td>
        <td th:text="${gestorMunicipal.cognoms}"></td>
        <td th:text="${gestorMunicipal.email}"></td>
        <td th:text="${gestorMunicipal.telefon}"></td>
        <td th:text="${gestorMunicipal.contrasenya}"></td>
        <td><a th:href="@{/gestorMunicipal/update/{nif}(nif=${gestorMunicipal.nif})}">Edita</a>
        </td>
        <td><a th:href="@{/gestorMunicipal/delete/{nif}(nif=${gestorMunicipal.nif})}">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Afegeix gestor municipal</a>
</body>
</html>
