<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/baseResponsable}">
<head>
    <title>Editar un gestor municipal</title>
    <meta charset="UTF-8" />

</head>
<body>
<div layout:fragment="content">
    <!--EL primer action es si fuera una página estática-->
<form action="#" th:action="@{/gestorMunicipal/update}"
      th:object="${gestorMunicipal}" method="post">

    <div class="modal-body">
        <div class="row pb-4">
            <div class="col-2">
                <a type="button" class="btn btn-secondary" th:href="@{/gestorMunicipal/gestorsPerMunicipi/{id}(id=${id})}"><i class="fa fa-arrow-alt-circle-left"></i> Atrás</a>
            </div>
            <div class="col-6 pt-3">
                <h2><span th:text="${gestorMunicipal.nom}"></span></h2>
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label mt-2" for="nif">Nif:</label>
            <input type="text" class="form-control" maxlength="9" placeholder="nif" id="nif" th:field="*{nif}" readonly="readonly">
            <div class="text-danger"><td th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}"></td></div>
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4">Id municipi:</label>
            <input type="text" class="form-control" placeholder="id municipi" id="idMunicipi" th:field="*{idMunicipi}" name="nom" required/>
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="nom">Nom:</label>
            <input type="text" class="form-control" placeholder="nom" id="nom" th:field="*{nom}" name="nom"/>
            <div class="text-danger"><td th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></td></div>
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="cognoms">Cognoms:</label>
            <input type="text" class="form-control" placeholder="cognoms complets" id="cognoms" th:field="*{cognoms}">
            <div class="text-danger"><td th:if="${#fields.hasErrors('cognoms')}" th:errors="*{cognoms}"></td></div>
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="email">Email:</label>
            <input type="text" class="form-control" placeholder="email" id="email" th:field="*{email}">
            <div class="text-danger"><td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td></div>
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="telefon">Telèfon:</label>
            <input type="text" class="form-control" placeholder="telefon" id="telefon" th:field="*{telefon}">
            <div class="text-danger"><td th:if="${#fields.hasErrors('telefon')}" th:errors="*{telefon}"></td></div>
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="telefon">Contrasenya:</label>
            <input type="text" class="form-control" placeholder="Default input" id="contrasenya" th:field="*{contrasenya}">
            <div class="text-danger"><td th:if="${#fields.hasErrors('contrasenya')}" th:errors="*{contrasenya}"></td></div>
        </div>
    </div>
    <div class="modal-footer">
        <input class="btn btn-success" type="submit" value="Editar gestor municipal"/>
    </div>
</form>
</div>
</body>
</html>
