<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar les reserves</title>
    <meta charset="UTF-8" />
</head>
<body>
<h1>Llista de Reserves</h1>
<table class="table">
    <thead>
    <tr>
        <th>Id reserva</th>
        <th>Codi Qr</th>
        <th>Nombre persones</th>
        <th>Data creacio</th>
        <th>Estat</th>
        <th>NIF ciutada</th>
        <th>Id Franja</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reserva: ${reserves}">
        <td th:text="${reserva.id}"></td>
        <td th:text="${reserva.codiQr}"></td>
        <td th:text="${reserva.nombrePersones}"></td>
        <td th:text="${reserva.dataCreacio}"></td>
        <td th:text="${reserva.estat}"></td>
        <td th:text="${reserva.nifCiutada}"></td>
        <td th:text="${reserva.idFranja}"></td>
        <td><a th:href="@{/reserva/update/{id}(id=${reserva.id})}"><button type="button" class="btn btn-danger">Edita</button></a>
        </td>
        <td><a th:href="@{/reserva/delete/{id}(id=${reserva.id})}"><button type="button" class="btn btn-danger">Esborra</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Afegeix reserva</button></a>
</body>
</html>