<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title></title>


</head>
<body>

<div layout:fragment="content">
    <h1 class="my-3">Reserves del espai <span th:text="${espai.nom}"></span></h1>
    <div th:if="${#lists.isEmpty(reserves)}">
        No hi ha reserves en aquest espai
    </div>
    <div th:unless="${#lists.isEmpty(reserves)}">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">id Reserva</th>
                <th scope="col">id Zona</th>
                <th scope="col">Nombre Persones</th>
                <th scope="col">Hora inici</th>
                <th scope="col">Hora final</th>
                <th scope="col">Data reserva</th>
                <th scope="col">Estat de la reserva</th>
                <th scope="col">Acció</th>
            </tr>
            </thead>
            <tr class="table-light" th:each="reserva: ${reserves}">
                <td th:text="${reserva.reserva.idReserva}"></td>
                <td th:text="${reserva.idZona}"></td>
                <td th:text="${reserva.reserva.nombrePersones}"></td>
                <td th:text="$reserva.horaInici}"></td>
                <td th:text="${reserva.horaFinal}"></td>
                <td th:text="${reserva.dataReserva}"></td>
                <td th:text="${reserva.estatReserva.getDescripcion()}"></td>
                <td><a class="btn btn-info btn-sm"  th:href="@{/reserva/update/{idReserva}(idReserva=${reserva.reserva.id})}"><i class="fa fa-edit"></i> Editar</a>
                    <a class="btn btn-danger btn-sm" th:href="@{/reserva/delete/{idReserva}(idReserva=${reserva.reserva.idReserva})}"><i class="fas fa-trash"></i> Borrar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-success" type="submit" th:href="@{/controlador/add}"><i class="fa fa-plus" aria-hidden="true"></i> Afegir controlador</a>
</div>

</body>
</html>