<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/baseResponsable}">
<head>
    <meta charset="UTF-8">
    <title></title>


</head>
<body>

<div layout:fragment="content">
    <div class="row pb-4">
        <div class="col-2 pt-3">
            <a type="button" class="btn btn-secondary" th:href="@{/espaiPublic/list}"><i class="fa fa-arrow-alt-circle-left"></i> Atrás</a>
        </div>
        <div class="col-7">
            <h1 class="my-3" style="text-align: center">Reserves del espai <span th:text="${espai.nom}"></span></h1>
        </div>
    </div>
    <div th:if="${alert != null}" th:text="${alert}" class="alert alert-success" role="alert">
    </div>
    <div th:if="${#lists.isEmpty(reserves)}">
        No hi ha reserves en aquest espai
    </div>
    <div th:unless="${#lists.isEmpty(reserves)}">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">id Reserva</th>
                <th scope="col">id Zona</th>
                <th scope="col">Nombre Persones</th>
                <th scope="col">Hora inici</th>
                <th scope="col">Hora final</th>
                <th scope="col">Data reserva</th>
                <th scope="col">Estat de la reserva</th>
            </tr>
            </thead>
            <tr class="table-light" th:each="reserva: ${reserves}">
                <td th:text="${reserva.reserva.id}"></td>
                <td th:text="${reserva.idZona}"></td>
                <td th:text="${reserva.reserva.nombrePersones}"></td>
                <td th:text="${reserva.horaInici.toString()}"></td>
                <td th:text="${reserva.horaFinal.toString()}"></td>
                <td th:text="${reserva.dataReserva}"></td>
                <td th:text="${reserva.reserva.estat.getDescripcion()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>