<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/baseGestor}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-2">
            <a type="button" class="btn btn-secondary" th:href="@{/gestorMunicipal/indexGestor}"><i class="fa fa-arrow-alt-circle-left"></i>Atras</a>
        </div>
        <div class="col-7">
            <h1 class="my-3" style="text-align: center">Controladors de <span th:text="${municipi.nom}"></span></h1>
        </div>
    </div>
    <div th:if="${alertBona != null}" th:text="${alertBona}" class="alert alert-success" role="alert">
    </div>
    <div th:if="${alertMala != null}" th:text="${alertMala}" class="alert alert-danger" role="alert">
    </div>
    <div th:if="${#lists.isEmpty(controladors)}">
        No hi ha controladors assignats en aquest espai
    </div>
    <div th:unless="${#lists.isEmpty(controladors)}">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nif</th>
                <th scope="col">Nom</th>
                <th scope="col">Cognoms</th>
                <th scope="col">Correu</th>
                <th scope="col">Telèfon</th>
                <th scope="col">Localització</th>
                <th scope="col">Acció</th>
            </tr>
            </thead>
                <tr class="table-light" th:each="controlador: ${controladors}" th:object="${controlador}">
                    <td th:text="${controlador.controlador.nif}"></td>
                    <td th:text="${controlador.controlador.nom}"></td>
                    <td th:text="${controlador.controlador.cognoms}"></td>
                    <td th:text="${controlador.controlador.email}"></td>
                    <td th:text="${controlador.controlador.telefon}"></td>
                    <td> <span th:text="${controlador.nomEspaiPublic}"></span>, <span th:text="${municipi.nom}"></span></td>
                    <td><a type="button" class="btn btn-info btn-sm"  th:href="@{/controlador/update/{nifControlador}(nifControlador=${controlador.controlador.nif})}"><i class="fa fa-edit"></i> Editar</a>
                    <a class="btn btn-danger btn-sm" th:href="@{/controlador/delete/{nifControlador}(nifControlador=${controlador.controlador.nif})}" th:onclick="return confirm('Estàs segur d\'esborrar el controlador amb nom ' + [[${controlador.controlador.nom}]] + [[${controlador.controlador.cognoms}]]  + '?');"><i class="fas fa-trash"></i> Borrar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-success" type="submit" th:href="@{/controlador/add}"><i class="fa fa-plus" aria-hidden="true"></i> Afegir controlador</a>
</div>

</body>
</html>