<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/baseGestor}">
<head>
    <title>Actualitzar un controlador</title>
    <meta charset="UTF-8" />

</head>
<body>
<div layout:fragment="content">
    <div class="col-2">
        <a type="button" class="btn btn-secondary" th:href="@{/controlador/controladorsPerMunicipi}"><i class="fa fa-arrow-alt-circle-left"></i> Atrás</a>
    </div>
    <!--EL primer action es si fuera una página estática-->
    <form action="#" th:action="@{/controlador/update}"
          th:object="${controlador}" method="post"> <!--lo maneja dinámicamente thymeleaf-->

        <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel"><span th:text="*{controlador.nom}"></span> <span th:text="*{controlador.cognoms}"></span></h2>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="col-form-label mt-2" for="nif">Nif:</label>
                <input type="text" class="form-control" maxlength="9" readonly="readonly" placeholder="Default input" id="nif" th:field="*{controlador.nif}">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="nom">Nom:</label>
                <input type="text" value="wrong value" class="form-control" placeholder="Default input" id="nom" th:field="*{controlador.nom}" name="nom"/>
                <div th:if="${#fields.hasErrors('controlador.nom')}" th:errors="*{controlador.nom}"></div>

            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="cognoms"><b>Cognoms:</b></label>
                <input type="text" class="form-control" placeholder="Default input" id="cognoms" th:field="*{controlador.cognoms}">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="email">Email:</label>
                <input type="text" class="form-control" placeholder="Default input" id="email" th:field="*{controlador.email}">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="telefon">Telèfon:</label>
                <input type="text" class="form-control" placeholder="Default input" id="telefon" th:field="*{controlador.telefon}">
            </div>

            <div class="form-group">
                <input type="hidden" class="form-control" placeholder="Default input" id="contrasenya" th:field="*{controlador.contrasenya}">
            </div>

            <div class="form-group">
                <label class="col-form-label mt-4" for="espai">Nom espai públic:</label>
                <input type="text" class="form-control" placeholder="Default input" id="espai" th:field="*{nomEspaiPublic}">
            </div>

        </div>
        <div class="modal-footer">
            <input class="btn btn-info" type="submit" value="Actualitzar Dades"/>
        </div>
    </form>
</div>
</body>
</html>