<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/baseGestor}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row pb-4">
        <div class="col-2 pt-3">
            <a type="button" class="btn btn-danger" th:href="@{/gestorMunicipal/espaisPerMunicipi}"><i class="fa fa-arrow-alt-circle-left"></i> Atràs</a>
        </div>
        <div class="col-6">
            <h1 class="my-3" style="text-align: center">Espai Public,  <span th:text="${espai.nom}"></span></h1>
        </div>
    </div>
    <fieldset class="form-group">
        <legend class="mt-4">Franges Horàries</legend>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
            <label class="form-check-label" for="flexCheckChecked">
                Checked checkbox
            </label>
        </div>
    </fieldset>
</div>

</body>
</html>