<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="card border-primary mb-3" style="max-width: 50rem;">
        <div class="card-header"></div>
        <div class="row">
            <div class="col-5 mt-4">
                <img class="card-img" src="https://cdn.wallpapersafari.com/59/90/g3aQnL.jpg" alt="Card image cap">
            </div>
            <div class="col-6 mt-3">
                <p><b>Localització: </b>Castelló</p>
                <p style="text-align: justify"><b>Descripció: </b>Està enclavat en una muntanya litoral de la comarca de la Plana Alta, paral·lela a la costa, amb abundants crestes i penyals. Des dels cims més alts, la mola de l''Morico de 694 metres i el Bartolo de 729, el visitant pot gaudir de les meravelloses perspectives que els seus dos pics ofereixen de la costa.</p>
            </div>
        </div>
        <footer align="center" class="p-3">
            <button type="button" class="btn btn-primary">Elegir la zona</button>
        </footer>
    </div>
</div>
</body>
</html>