<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/baseGestor}">
<head>
    <title>Informació d'un espai public</title>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div class="col-2">
        <a type="button" class="btn btn-secondary" th:href="@{/espaiPublic/espaisPerMunicipi}"><i class="fa fa-arrow-alt-circle-left"></i> Atrás</a>
    </div>
    <div class="col-7">
        <h1 class="my-5 text-center" style="font-size: xxx-large"><span th:text="${espai.nom}"></span></h1>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-5 m-4">
            <img class="card-img" th:src="${espai.imagen}" alt="Card image">
        </div>
        <div class="col-lg-4 m-4 align-self-center">
            <p><b>Provincia: </b><span th:text="${provincia}"></span></p>
            <p><b>Municipi: </b><span th:text="${nomMunicipi}"></span></p>
            <p><b>Tipus: </b><span th:text="${espai.tipus}"></span></p>
            <p><b>Terreny: </b><span th:text="${espai.tipusTerreny.getDescripcion()}"></span></p>
            <p><b>Longitut (en metres):</b>
                <span th:if="${espai.longitud == 0}">Indeterminat</span>
                <span th:unless="${espai.longitud == 0}" th:text="${espai.longitud}"></span>
            </p>
            <p><b>Amplaria (en metres): </b>
                <span th:if="${espai.amplaria == 0}">Indeterminat</span>
                <span th:unless="${espai.amplaria == 0}" th:text="${espai.amplaria}"></span>
            </p>
            <p style="text-align: justify"><b>Descripcio: </b><span th:text="${espai.descripcio}"></span></p>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-lg-4 m-4 align-self-center card">
            <div class="row">
                <h2 class="my-2 text-center">Serveis permanents:</h2>
            </div>
            <div th:if="${serveiPermanentList.isEmpty()}">
                <b>No hi ha serveis permanents</b>
            </div>
            <div class="row" th:each="serveiPermanent : ${serveiPermanentList}">
                <p>- <span th:text="${serveiPermanent.getNom()}"></span></p>
            </div>
        </div>
        <div class="col-lg-4 m-4 align-self-center card">
            <div class="row">
                <h2 class="my-2 text-center">Serveis estacionals:</h2>
            </div>
            <div th:if="${serveiEstacionalList.isEmpty()}">
                <b>No hi ha serveis estacionals</b>
            </div>
            <div class="row" th:each="serveiEstacional : ${serveiEstacionalList}">
                <p>- <span th:text="${serveiEstacional.getNom() + ' (Horari: ' + serveiEstacional.getHoraInici() + ' - ' + serveiEstacional.getHoraFinal() + ')'}"></span></p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center my-4">
        <div class="col-sm-auto">
            <h2 class="my-2 text-center">Tipus d'acces:</h2>
        </div>
        <div class="col-sm-auto my-1 text-center" th:switch="${espai.tipusAcces.getDescripcion()}">
            <h2 th:case="'Obert'"><span class="badge-sana badge-obert">Obert</span></h2>
            <h2 th:case="'Restringit'"><span class="badge-sana badge-restringit">Restringit</span></h2>
            <h2 th:case="'Tancat'"><span class="badge-sana badge-tancat">Tancat</span></h2>
        </div>
    </div>
</div>
</body>
</html>