<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Informació d'un espai public</title>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <h1 class="my-5 text-center" style="font-size: xxx-large"><span th:text="${espai.nom}"></span></h1>
    <div class="row justify-content-md-center">
        <div class="col-lg-5 m-4">
            <img class="card-img" th:src="${espai.imagen}" alt="Card image">
        </div>
        <div class="col-lg-4 m-4 align-self-center">
            <p><b>Provincia: </b><span>Indeterminat</span></p>
            <p><b>Municipi: </b><span>Indeterminat</span></p>
            <p><b>Tipus: </b><span th:text="${espai.tipus}"></span></p>
            <p><b>Terreny: </b><span th:text="${espai.terreny}"></span></p>
            <p><b>Longitut (en metres):</b>
                <span th:if="${espai.longitud == 0}">Indeterminat</span>
                <span th:unless="${espai.longitud == 0}" th:text="${espai.longitud}"></span>
            </p>
            <p><b>Amplaria (en metres): </b>
                <span th:if="${espai.amplaria == 0}">Indeterminat</span>
                <span th:unless="${espai.amplaria == 0}" th:text="${espai.amplaria}"></span>
            </p>
            <p style="text-align: justify"><b>Descripcio: </b><span th:text="${espai.descripcio}"></span></p>
        </div>
    </div>
</div>

<h1 class="my-3">Espais públics de <span th:text="${espai.nom}"></span></h1>
<div>
    <div class="col-5">
        <img class="card-img" th:src="${espai.imagen}" alt="Card image cap">
    </div>
</div>
</body>
</html>