<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar controla </title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Llista de controla</h1>
<table class="table">
    <thead>
    <tr>
        <th>NIF Controlador</th>
        <th>Id Espai</th>
        <th>Fecha Inicial</th>
        <th>Fecha Final</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="controla: ${listControla}">
        <td th:text="${controla.nifControlador}"></td>
        <td th:text="${controla.idEspai}"></td>
        <td th:text="${controla.dataInici}"></td>
        <td th:text="${controla.dataFinal}"></td>
        <td><a th:href="@{/controla/update/{nifControlador}/{idEspai}/{dataInici}(nifControlador=${controla.nifControlador}, idEspai=${controla.idEspai},dataInici=${controla.dataInici})}">Edita</a>
        </td>
        <td><a th:href="@{/controla/delete/{nifControlador}/{idEspai}/{dataInici}(nifControlador=${controla.nifControlador}, idEspai=${controla.idEspai},dataInici=${controla.dataInici})}">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Afegeix Controla</a>
</body>
</html>
