<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar controla </title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Llista de controla</h1>
<table>
    <thead>
    <tr>
        <th>NIFControla</th>
        <th>IdEspai</th>
        <th>FechaInicial</th>
        <th>FechaFinal</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="controla: ${controla}">
        <td th:text="${controla.nifControlador}"></td>
        <td th:text="${controla.idEspai}"></td>
        <td th:text="${controla.dataInicial}"></td>
        <td th:text="${controla.dataFinal}"></td>
        <td><a th:href="@{/controla/update/{nifControlador}/{idEspai}/{dataInici}(nifControlador=${controla.nifControlador}, idEspai=${controla.idEspai},dataInicial=${controla.dataInicial})}">Edita</a>
        </td>
        <td><a th:href="@{/controla/delete/{nifControlaor}/{idEspai}/{dataInici}(nifControlador=${controla.nifControlador}, idEspai=${controla.idEspai},dataInicial=${controla.dataInicial})}">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Afegeix Controla</a>
</body>
</html>
