<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/baseGestor}">
<head>
    <title>Gestionar les franjes d'un espai natural</title>
    <meta charset="UTF-8" />

</head>
<body>
<div layout:fragment="content">
    <div class="row pb-4">
        <div class="col-2 pt-3">
            <a type="button" class="btn btn-secondary" th:href="@{/espaiPublic/espaisPerMunicipi}"><i class="fa fa-arrow-alt-circle-left"></i> Atrás</a>
        </div>
        <div class="col-6">
            <h1 class="my-3" style="text-align: center">Franges horaries de l'espai de l'espai <span th:text="${espai.nom}"></span></h1>
        </div>
    </div>
    <div th:if="${alert != null}" th:text="${alert}" class="alert alert-success" role="alert">
    </div>
    <div th:if="${alertErroni != null}" th:text="${alertErroni}" class="alert alert-danger" role="alert">
    </div>
    <div th:if="${#lists.isEmpty(franges)}">
        No hi ha franges en aquest espai
    </div>
    <div th:unless="${#lists.isEmpty(franges)}">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id Franja</th>
                <th scope="col">Hora Inici</th>
                <th scope="col">Hora Final</th>
                <th scope="col">Acció: </th>
            </tr>
            </thead>
            <tr class="table-light" th:each="franja: ${franges}">
                <td th:text="${franja.id}"></td>
                <td th:text="${franja.horaInici.toString()}"></td>
                <td th:text="${franja.horaFinal.toString()}"></td>
                <td>
                    <a type="button" class="btn btn-danger btn-sm"  th:href="@{/franja/delete/{id}(id=${franja.id})}"
                       th:onclick="return confirm('Estàs segur d\'esborrar la franja amb id ' + [[${franja.id}]] + '?');">
                        <i class="fas fa-trash"></i> Borrar</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-success" type="submit" th:href="@{/franja/add/{id}(id=${espai.id})}"><i class="fa fa-plus" aria-hidden="true"></i> Afegir franja</a>

</div>
</body>
</html>
