<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>SANA</title>
    <link rel="stylesheet" type="text/css" href="/css/estiloGeneral.css"
          th:href="@{/css/estiloGeneral.css}"/>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}"/>

    <link rel="stylesheet" type="text/css" href="/css/badgeStyles.css"
          th:href="@{/css/badgeStyles.css}"/>

</head>
<body>
<div th:replace="fragments/nav"></div>
<div class="container mt-4">
    <div layout:fragment="content"></div>
</div>
<footer class="mt-4">
    <hr>
    <p class="ml-2 text-muted">EI1027 - SANA</p>
</footer>
</body>
</html>