<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title layout:title-pattern="$CONTENT_TITLE">SANA</title>
    <link rel="stylesheet" type="text/css" href="/css/estiloGeneral.css"
          th:href="@{/css/estiloGeneral.css}"/>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}"/>

    <link rel="stylesheet" type="text/css" href="/css/badgeStyles.css"
          th:href="@{/css/badgeStyles.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="fragments/nav"></div>
<div class="container mt-4">
    <div layout:fragment="content"></div>
</div>
<footer class="mt-4">
    <hr>
    <p class="ml-2 text-muted">EI1027 - SANA</p>
</footer>
</body>
</html>