<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>

    <title>Login</title>
    <meta charset="UTF-8"/>


</head>
<body>
<div layout:fragment="content">
    <h2>Accés</h2>
    <form action="#" th:action="@{/login}"
          th:object="${user}" method="post">
        <div class="form-group my-3">
            <label>Nom d'usuari:</label><br>
            <input class="form_control" type="text" th:field="*{username}"/>
            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div class="form-group my-3">
            <label>Contrasenya:</label><br>
            <input class="form_control" type="password" th:field="*{password}"/>
            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <input class="my-2"type="submit" value="Accedir" />
    </form>
</div>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/imagenes/iconoSesion.png" width="40" height="40"></a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Cerrar sesión</a>
    </div>
</li>
</body>
</html>