<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inici de Sessió</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}"/>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">

</head>
<body style="background-color:#6AF4F2;">
<div class="modal-dialog text-center" style="margin-top: 13%">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="static/imagenes/user/user.png" th:src="@{/imagenes/user/user.png}"/>
            </div>
            <form class="col-12" th:action="@{/registrarse}" th:object="${ciutada}" method="post">
                <div class="form-group" id="user-group">
                    <input type="text" class="form-control" placeholder="NIF" th:field="*{nif}"/>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}"></div>
                </div>
                <div class="form-group" id="nom">
                    <input type="text" class="form-control" placeholder="Nom" th:field="*{nom}"/>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></div>
                </div>
                <div class="form-group" id="cognoms">
                    <input type="text" class="form-control" placeholder="Cognoms" th:field="*{cognoms}"/>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('cognoms')}" th:errors="*{cognoms}"></div>
                </div>
                <div class="form-group" id="telefon">
                    <input type="text" class="form-control" placeholder="Telèfon" th:field="*{telefon}"/>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('telefon')}" th:errors="*{telefon}"></div>
                </div>
                <div class="form-group" id="correu">
                    <input type="text" class="form-control" placeholder="Correu" th:field="*{email}"/>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
                <div class="form-group" id="direccio">
                    <input type="text" class="form-control" placeholder="Direcció (C (nom carrer) (nombre))" th:field="*{domicili}"/>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('domicili')}" th:errors="*{domicili}"></div>
                </div>
                <div class="form-group">
                    <select class="form-select" id="provincia" type="text" th:field="*{localitat}">
                        <option th:each="localitat : ${T(es.uji.ei102720gmtp.SanaProject.model.enums.Provincia).values()}"
                                th:value="${localitat}">
                            <span th:text="${localitat.getDescripcion()}"></span>
                        </option>
                    </select>
                </div>
                <div class="form-group" id="pais">
                    <input type="text" class="form-control" placeholder="País" th:field="*{pais}"/>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
                </div>
                <div class="form-group" id="contrasena-group">
                    <input type="password" class="form-control" placeholder="Contrasenya" th:field="*{contrasenya}"/>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('contrasenya')}" th:errors="*{contrasenya}"></div>
                </div>
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registrarseModal"><i class="fas fa-sign-in-alt"></i> Registrar-se </button>
            </form>


            <!-- Modal -->
            <div class="modal fade" id="registrarseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-primary" href="/login.html">Log in</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>