<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar comentaris</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Llista de comentaris</h1>
<table class="table">
    <thead>
    <tr>
        <th>Id espai public</th>
        <th>Contador comentaris</th>
        <th>Comentari</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comentari: ${comentaris}">
        <td th:text="${comentari.idEspaiPublic}"></td>
        <td th:text="${comentari.contadorComentaris}"></td>
        <td th:text="${comentari.comentari}"></td>
        <td><a th:href="@{/comentari/delete/{idEspai}/{nifCiutada}/{contador}(idEspai=${comentari.idEspaiPublic},nifCiutada=${comentari.nifCiutada},contador=${comentari.contadorComentaris})}"><button type="button" class="btn btn-danger">Esborra</button></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>